<%-
	local ubus = require "ubus"

	function connect_ubus()
		local conn = ubus.connect()

		if not conn then
			error("Failed to connect to ubusd")
		end

		return conn
	end

	function getmasterkey()
		local k, v, result

		local conn = connect_ubus()

		local key = conn:call("otbr", "masterkey",  {})

		for k, v in pairs(key) do
			result = v
		end

		return result
	end

	function attachThread()
		local k, v, result

		local conn = connect_ubus()

		local key = conn:call("otbr", "threadstart", {})
	end
-%>
<script type="text/javascript">//<![CDATA[
	function test()
	{
		alert("hello");
	}
//]]></scrip>
<%+header%>

<h2><%:Join Network: %><%: OpenThread%></h2>
<br />

<br/><br/>
<div style="width:100%;">
	<form style="margin-left:20%;">
		<span><strong><%:Master Key :%></strong></span>
		<span style="margin-left:3%;"></span>
		<input type="text" value="<%=getmasterkey()%>" style="width:50%;"/>
	</form>
	<div style="margin-left:32%;">
		<span><img src="<%=resource .. "/cbi/help.gif"%>"/><%:Please  input your master key to ensure you join the right network.%></span>
	</div>
</div>
<br/><br/><br/>

<h1 id="test">Test</h1>
<div class="cbi-page-actions right">
	<form class="inline" action="<%=url('admin/network/thread_scan')%>" method="get">
		<input class="cbi-button cbi-button-neutral" type="submit" value="<%:Back to scan result%>" />
	</form>
	<input class="cbi-button cbi-button-add important" type="submit" value="<%:Attach%>" onclick="test()"/>
	<form class="inline" action="<%=url('admin/network/thread')%>" method="post">
		<input type="hidden" name="token" value="<%=token%>" />
		<input class="cbi-button cbi-button-add important" type="submit" value="<%:Attach%>" onclick="attachThread()"/>
	</form>
</div>

<%+footer%>
